@model IEnumerable<EduCommerce.Web.Permissions>

@{
    ViewBag.Title = "ListPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="panel panel-primary panel-body">
        <h2>Yetkiler</h2>
        <hr />
        <p>
            <h3>@Html.ActionLink("Yeni Ekle", "Yeni", null, new { @class = " btn btn-primary" })</h3>
        </p>
        <table class="table table-bordered table-striped table-condensed flip-content">
            <tr>
                <th class="btn-danger">
                    Kodu
                </th>
                <th class="btn-danger">
                    Adı
                </th>
                <th class="btn-danger">
                    Bayi
                </th>
                <th class="btn-danger"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dealer)
                    </td>
                    <td  class="text-nowrap">
                        @Html.ActionLink("Güncelle", "Guncelle", new { id = item.ID }, new { @class = " btn btn-info btn-xs " }) |
                        @Html.ActionLink("Detay", "Detay", new { id = item.ID }, new { @class = " btn btn-primary btn-xs" }) |
                        @Html.ActionLink("Sil", "Sil", new { id = item.ID }, new { @class = " btn btn-danger btn-xs" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>