@model EduCommerce.Web.Educations

@{
    ViewBag.Title = "Detay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="panel panel-primary panel-body">
        <h2>Detay</h2>

        <div>
            <h4>Eğitimler</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Kategori
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt>
                    Eğitim
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Fiyat
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Süre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    Üniversite
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.University)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Guncelle", "Guncelle", new { id = Model.ID }) |
            @Html.ActionLink("Geri Dön", "Index")
        </p>
    </div>
</div>