@model EduCommerce.Web.Dealers



<div class="col-sm-6 col-md-4">
    <div class="widget dark">
        <img class="mt-10 mb-20" alt="" src="@Model.Logo">
        <p>@Model.DealerAddress</p>
        <ul class="mt-5">
            <li class="m-0 pl-0 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">@Model.DealerPhone</a> </li>
            <li class="m-0 pl-0 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">@Model.DealerFax</a> </li>
            <li class="m-0 pl-0 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">+90 (507) 204 61 83</a> </li>
            <li class="m-0 pl-0 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">@Model.DealerMail</a> </li>
        </ul>
    </div>
</div>
