@model EduCommerce.Web.Educations

@{
    ViewBag.Title = "DetailEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
<h2>DetailEducation</h2>

<div>
    <h4>Educations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Kategori: </dt><dd>
    @Html.DisplayFor(modelItem => Model.Category)
</dd>
        <dt> Adi: </dt>
<dd>
    @Html.DisplayFor(modelItem => Model.Name)
</dd>
        <dt>Fiyat</dt>
<dd>
    @Html.DisplayFor(modelItem => Model.Price)
</dd>
        <dt> Süre: </dt>
<dd>
    @Html.DisplayFor(modelItem => Model.Time)
</dd>
    </dl>
   
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    <</div>